# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
test-logs/
*.zip
